apiVersion: apps/v1
kind: Deployment
metadata:
  name: ignored
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: virtool-api-web
    spec:
      containers:
        - name: virtool
          image: ghcr.io/virtool/virtool:latest
          env:
            - name: VT_DATA_PATH
              value: "/data"
            - name: VT_DEV
              value: "true"
            - name: VT_HOST
              value: "0.0.0.0"
            - name: VT_MONGODB_CONNECTION_STRING
              value: "mongodb://virtool:virtool@mongo.default.svc.cluster.local/virtool"
            - name: VT_OPENFGA_HOST
              value: "openfga.default.svc.cluster.local"
            - name: VT_OPENFGA_SCHEME
              value: "http"
            - name: VT_REDIS_CONNECTION_STRING
              value: "redis://:virtool@redis.default.svc.cluster.local"
            - name: VT_POSTGRES_CONNECTION_STRING
              value: "postgresql+asyncpg://virtool@postgres.default.svc.cluster.local?password=virtool"
          ports:
            - containerPort: 9950
              protocol: TCP
          resources:
            limits:
              cpu: 500m
              memory: 500M
            requests:
              cpu: 300m
              memory: 300M
          #          startupProbe:
          #            httpGet:
          #              path: /
          #              port: 9950
          #            initialDelaySeconds: 3
          #            periodSeconds: 3
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: pvc-virtool
#---

