apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
spec:
  template:
    spec:
      containers:
        - image: ghcr.io/virtool/ui:latest
          name: virtool-ui
          command: ["npm", "run", "server"]
          env:
            - name: VT_UI_PORT
              value: "9900"
            - name: VT_UI_HOST
              value: "0.0.0.0"
            - name: VT_UI_API_URL
              value: "http://virtool-api-web-service.default.svc.cluster.local"
          ports:
            - containerPort: 9900
              protocol: TCP
          resources:
            limits:
              cpu: 600m
              memory: 1400M
            requests:
              cpu: 600m
              memory: 1400M
