apiVersion: batch/v1
kind: Job
metadata:
  name: virtool-migration
  labels:
    app: VirtoolMigration
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: VirtoolMigration
    spec:
      containers:
        - image: ghcr.io/virtool/virtool:23.0.1
          name: virtool-migration
          command: ["python", "run.py", "migration", "apply"]
          env:
            - name: VT_DATA_PATH
              value: "/data"
            - name: VT_DEV
              value: "true"
            - name: VT_HOST
              value: "0.0.0.0"
            - name: VT_MONGODB_CONNECTION_STRING
              value: "mongodb://virtool:virtool@mongo-mongodb-headless.default.svc.cluster.local/virtool"
            - name: VT_OPENFGA_SCHEME
              value: "http"
            - name: VT_OPENFGA_HOST
              value: "openfga.default.svc.cluster.local"
            - name: VT_POSTGRES_CONNECTION_STRING
              value: "postgresql+asyncpg://virtool@postgresql.default.svc.cluster.local?password=virtool"
            - name: VT_REDIS_CONNECTION_STRING
              value: "redis://:virtool@redis-master.default.svc.cluster.local"
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 800m
              memory: 2Gi
            requests:
              cpu: 200m
              memory: 1Gi
          volumeMounts:
            - name: data
              mountPath: /data
      restartPolicy: Never
      volumes:
        - name: data
          nfs:
            server: 10.109.28.120
            path: /
