apiVersion: batch/v1
kind: Job
metadata:
  name: virtool-migration
  labels:
    app: virtool-migration
spec:
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: virtool-migration
    spec:
      restartPolicy: Never
      containers:
        - image: ghcr.io/virtool/virtool:35.0.0
          name: virtool-migration
          command: ["virtool", "migration", "apply"]
          env:
            - name: VT_DATA_PATH
              value: "/data"
            - name: VT_DEV
              value: "true"
            - name: VT_HOST
              value: "0.0.0.0"
            - name: VT_MONGODB_CONNECTION_STRING
              value: "mongodb://virtool:virtool@mongo.default.svc.cluster.local/virtool"
            - name: VT_OPENFGA_SCHEME
              value: "http"
            - name: VT_OPENFGA_HOST
              value: "openfga.default.svc.cluster.local"
            - name: VT_POSTGRES_CONNECTION_STRING
              value: "postgresql+asyncpg://virtool@postgres.default.svc.cluster.local?password=virtool"
            - name: VT_REDIS_CONNECTION_STRING
              value: "redis://:virtool@redis.default.svc.cluster.local"
          imagePullPolicy: Always
          resources:
            limits:
              cpu: 800m
              memory: 2Gi
            requests:
              cpu: 200m
              memory: 1Gi
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: pvc-virtool
