apiVersion: batch/v1
kind: Job
metadata:
  name: openfga-migration
  labels:
    app: OpenFGA
spec:  
  backoffLimit: 0
  template:
    metadata:
      labels:
        app: OpenFGA
    spec:
      containers:
        - name: openfga-migration
          image: openfga/openfga:v0.2.5
          command: ["./openfga", "migrate"]
          env:
            - name: OPENFGA_DATASTORE_ENGINE
              value: "postgres"
            - name: OPENFGA_DATASTORE_URI
              value: "postgresql://virtool@postgresql.default.svc.cluster.local/virtool?password=virtool"
      restartPolicy: Never