apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-virtool
spec:
  storageClassName: standard
  volumeName: pv-virtool
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 40Gi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-virtool
spec:
  capacity:
    storage: 40Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  claimRef:
    name: pvc-virtool
    namespace: default
  hostPath:
    path: /virtool/data
