apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  labels:
    app: VirtoolUI
spec:
  replicas: 1
  selector:
    matchLabels:
      app: VirtoolUI
  template:
    metadata:
      labels:
        app: VirtoolUI
    spec:
      containers:
        - image: ghcr.io/virtool/ui:6.19.1
          imagePullPolicy: Always
          name: ui
          command: ["npm", "run", "server"]
          env:
            - name: VT_UI_PORT
              value: "9900"
            - name: VT_UI_HOST
              value: "0.0.0.0"
            - name: VT_UI_API_URL
              value: "http://api-service.default.svc.cluster.local"
          ports:
            - containerPort: 9900
              protocol: TCP
          resources:
            limits:
              cpu: 200m
              memory: 300M
            requests:
              cpu: 100m
              memory: 150M
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: ui-service
spec:
  type: ClusterIP
  selector:
    app: VirtoolUI
  ports:
    - name: http
      port: 80
      targetPort: 9900
